/********Mapa*******/
.products-stripe2 {
  overflow-x: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.stripe-container2 {
  display: flex;
  width: 800px;
  flex-shrink: 0;
  margin-letf: 1rem;
  margin-right: 1rem;
}

/********* Carousel*****/
.carousel-item {
  background-color: var(--naranja);
  height: 200px;
  padding-top: 25px;
}
/******Flechas de carusel*****/
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: var(--marron);
}