header, section, footer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
header{
    height: 230px;
    background-color:#F4AC52;
}
body{
    text-align: center;
    font-family: 'Lato', sans-serif;
}
section{
    height: 600px;
}
h2, h3, p{
    color: #3D1C04;
}
/************** HEADER***************/
#marca{
    width: 960px;
    height: 230px;
    background-color: #F4AC52;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}
#marca img{
    height: 100%;
    margin-left: 5%;
}
/**********SECTION***********/
#titulo{
    background-color: #3D1C04;
    color: #F4AC52;
    width: 960px;
    height: 100px;
    margin: 0 auto 0 auto; 
    font-weight: 800;
    line-height: 100px; 
    letter-spacing: 4px;
}
h2{
    background: -moz-linear-gradient(top, #fcdeba, #f0bf83 30%, #F4AC52 70%);
    background: -webkit-linear-gradient(top, #fcdeba, #f0bf83 30%, #F4AC52 70%);
    width: 350px;
    margin: 50px auto 50px auto;
    height: 50px;
    line-height: 50px;
    border-radius: 7px;
}
h3{
    text-shadow: -5px 5px 3px #F4AC52;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
ul li p a{
    text-decoration: none;
}
/******ARTICLE VISITANOS*******/
#visitanos {
    width: 100%;
    height: 100px;
}
#lienzo1 {
    color: #3D1C04;
}
/****WEB STORAGE****/
#webStorage {
    background-color: rgba(244, 171, 82, 0.144);
    padding: 20px;
}
#notasCliente {
    padding: 15px;
}
.tarea-cliente-label, .tarea-cliente-id{
    display: block;
    padding: 15px;
}
.ancho-personalizado {
    width: 90%;
    margin:0 auto;
    height: 48px;
    line-height: 18px;
}
.tarea-cliente-select {
    height: 30px;
}
.tarea-cliente-boton {
    display: block;
    margin: 10px auto;
}
/******FOOTER*********/
footer {
    width: 100%;
    display:flex;
    justify-content: space-between;
    background-color: #3D1C04;
    box-sizing: border-box;
    padding: 1rem;
    color: #F4AC52;
}
.footer-inner{
    width: 30%;
    display:flex;
    align-items: center;
    padding: 1rem;
}     
#derechos-izquierda p {
    color: #F4AC52;
}
#derechos-derecha {
    display:flex;
    justify-content: flex-end;  
}
#derechos-derecha p {
    color: #F4AC52;
}
/**************media querie 600px - 1280px*************/
@media screen and (min-width:600px) and (max-width:1280px){
    header, section, footer{
        width: 90%;
    }
    section{
        height: 610px;
    }
    /************* HEADER************/
    #marca{
        width: 100%;
    }
    #marca img{
        height: 100%;
        margin-left: 0%;
    }
    /****SECTION**************/
    #titulo{
        width: 100%;
    }
    h2{
        width: 60%;
    } 
    /***LOCAL STORAGE***/
    .ancho-personalizado {
        width: 70%;
        margin:0 auto;
        height: 42px;
        line-height: 18px;
    }
}
/**********Media querie 320px - 599px************/
@media screen and (min-width:320px) and (max-width:599px){
    header, section, footer{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    header{
        height: 100px;
    }
    section{
        height: 620px;
    }
    /*************** HEADER************/
    #marca{
        width: 90%;
        height: 100px;
        background-color: #F4AC52;
        clear: both;
    }
    #marca img{
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
    }
    /***********SECTION***********/
    #titulo{
        width: 100%;
        height: 100px;
        margin: 5px auto 5px auto; 
    }
    h2{
        width: 80%;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    ul li p a{
        text-decoration: none;
    }
    /***LOCAL STORAGE***/
    .ancho-personalizado {
        width: 90%;
        height: 60px;
    }
    
}
