body {
    margin: 0px;
    color: #faf8f8f5;
  }

header, section, footer{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
p{
    color: #3D1C04;
}
#titulo p{
    color: #f4ac52;
}

/* HEADER */

header{
    height: 250px;
    background-color: #F4AC52;
}
#marca{
    width: 100%;
    height: 250px;
    background-color: #F4AC52;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    
}

#marca img{
    height: 100%;
    margin-left: 20%;
}

/*SECTION*/

section{
    font-size: 20px;
    font-weight: bold;
    color: #F3E2D2;
    height: 1700px;
}

/*titulo*/

#titulo{
    width: 100%;
    height: 130px;
    clear: both;
    background-color: #3D1C04;
    color: #F4AC52;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
}

/*formulario*/

#formulario{
    width: 700px;
    height: 1300px;
    clear: both;
    margin-right: 130px;
    margin-left: 130px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    box-sizing: border-box;
    border-radius: 25px; 
    box-shadow: -10px 15px 15px 15px #a5a2a2;
}

label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px; 
    text-align: center;
}


input, button, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    border: none;
}

.formulario_grupo{
    text-align: center;
    color: #3D1C04;
}
.form-control {
    display: block;
    width: 600px;
    margin-left: 42px;
    height: 20px;
    padding: 0.375rem 0.75rem;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #ced4da;
    border-radius: 0.25rem;
    text-align: center;
}


.form-control:focus {
    border-color: #ffe180;
    outline: 0;
    border: 10px bold;
    box-shadow: -2px 2px 2px 2px rgba(0, 123, 255, 0.15);
  }

.input-radio {
  margin-right: 10px;
}


.input-textarea {
    min-height: 120px;
    width: 80%;
    margin-left: 10%;
    resize: vertical;
  }



/*COMENTARIO Y/O SUGERENCIA*/

#comentario p{
    text-align: center;
}
.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: #3D1C04;
    color: #F4AC52;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bolder;
  }

 
#descuento{
    width: 50%;
    border-radius: 30px;
    box-shadow: -5px 5px 5px #4d4b4b;
    margin-left: 26%;
    clear: both;
}

#mensaje{
    width: 70%;
    height: 70px;
    line-height: 70px;
    clear: both;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: 16%;
    margin-right: 15px;
    text-align: center;
}

/*FOOTER*/

footer{
    height: 70px;
    background-color: #3D1C04;
}

#derechos{
    width: 960px;
    height: 70px;
    color: #f4ac52;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}
#derechos p{
    color: #f4ac52;
}

/*media 600 a 1023*/

@media screen and (min-width:600px) and (max-width:1280px){
    header, section, footer{
        width: 580px;
    }

    header{
        height: 200px;
    }
    /* HEADER*/
    
    #marca{
        width: 580px;
    }
    #marca img{
        height: 80%;
        margin-left: 8%;
    }

    /*SECTION*/

    /*titulo*/
    #titulo{
        height: 200px;
    }
    

    /*formulario*/

#formulario{
    width: 550px;
    height: 1300px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2px;
    border-radius: 25px; 
    box-shadow: -5px 5px 5px 3px #a5a2a2;
}

label {
    width: 80%;
    margin-bottom: 8px;
    margin-top: 8px; 
}

.form-control {
    width: 500px;
    margin-left: 15px;
}
    /*FOOTER*/

    footer{
        height: 150px;
    }
          
    #derechos{
        width: 580px;
        height: 150px;
    }
    #derechos p{
       font-size: 20px;
    }
   
}

/*media max 599*/

@media screen and (min-width:320px) and (max-width:599px){
   
    header, section, footer{
        width: 90%;
    }
    /*header*/
    header{
        height: 250px;
    }
    #marca img{
        padding-top: 5%;
        padding-left: 5%;
        height: 50%;
        margin-left: auto;
    }
    /*section*/
    section{
        height: 1900px;
    }
    
    /*titulo*/

    #titulo{
        height: 250px;
        padding-left:15px;
        padding-right: 15px;
    }
    /*formulario*/
    
    #formulario{
        width: 90%;
        height: 1280px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 2px;
        border-radius: 25px; 
        box-shadow: -5px 5px 5px 3px #a5a2a2;
    }
    
    label {
        display: inline-block;
        width: 90%;
    }
    input, button, select, textarea {
        margin-left: 0 0 0 25px;
    }
    
    .form-control {
        width: 80%;
        margin-left: 5%;
        font-size: 15px;

    }
    
    
    /*comentario y/o sujerencia*/
    #mensaje{
        width: 70%;
        height: 310px;
    }
    
    /*FOOTER*/
    
    footer{
        height: 150px;
    }
    
    #derechos{
        width: 100%;
        height: 150px;
    }
    #derechos p{
        font-size: 18px;
        margin: 20px 5px 0 5px;
    }
    
 

}